<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShopifyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
				<key>dateExpires</key>
				<string>05/10/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MobileBuySDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RATreeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>319D137A58E6F04A7E8A5EFA39B4E853AD4A6EA4</string>
						<key>dateExpires</key>
						<string>05/10/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FV6LSDGT2M.com.Coachsteak.app.Notifications</string>
						<key>com.apple.developer.team-identifier</key>
						<string>FV6LSDGT2M</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>FV6LSDGT2M.com.Coachsteak.app.Notifications</string>
						</array>
					</dict>
					<key>name</key>
					<string>Notifications.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>25f75b92-dd5d-4106-a4ef-e298d42ace66</string>
						<key>name</key>
						<string>iOS Team Inhouse Provisioning Profile: com.Coachsteak.app.Notifications</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV6LSDGT2M</string>
						<key>name</key>
						<string>CEDCOSS Technologies Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FV6LSDGT2M.com.Coachsteak.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FV6LSDGT2M</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>FV6LSDGT2M.com.Coachsteak.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Coachsteak.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aef546b8-1530-448a-b32f-53caeef4ea3f</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.Coachsteak.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FV6LSDGT2M</string>
				<key>name</key>
				<string>CEDCOSS Technologies Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
